<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orderedbroadcastreceivers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".FirstReceiver" >
            <intent-filter android:priority="10">
                <action android:name="custom_name"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".MainActivity$SecondReceiver">
            <intent-filter android:priority="20">
                <action android:name="custom_name"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ThirdReceiver">
            <intent-filter android:priority="30">
                <action android:name="custom_name"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ForthReceiver">
            <intent-filter>
                <action android:name="custom_name"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>